MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=workspace
MYSQL_USER=workspace
MYSQL_PASSWORD=workspace_password
MYSQL_PORT=3306

API_PORT=8000

GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me_before_production
